<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="风动测试.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <风动测试.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="zedGraph_time" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="csv_time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="choose_flag" serializeAs="String">
                <value>000000000000000000000000000000</value>
            </setting>
            <setting name="CurveFlag" serializeAs="String">
                <value>00000000000000000000000000000000</value>
            </setting>
            <setting name="PortName1" serializeAs="String">
                <value>COM9</value>
            </setting>
            <setting name="vScrollBarValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PortName3" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="PortName4" serializeAs="String">
                <value>COM12</value>
            </setting>
            <setting name="PortName5" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="PortName2" serializeAs="String">
                <value>COM10</value>
            </setting>
            <setting name="YMajorStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MAX" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="MIN" serializeAs="String">
                <value>100</value>
            </setting>
        </风动测试.Properties.Settings>
    </userSettings>
</configuration>
